NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_REALM=COCiber
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=simoes-web
NEXT_PUBLIC_BOOKSTACK_URL=
NEXT_PUBLIC_ZABBIX_URL=
NEXT_PUBLIC_ZAMMAD_URL=
NEXT_PUBLIC_ROCKETCHAT_URL=
NEXT_PUBLIC_ANSIBLE_URL=
